{% extends "base.html" %}

{% block announce %}
  The API Resource Guide has not yet been updated post <a target="_blank" href="https://www.federalregister.gov/documents/2024/01/09/2023-28857/health-data-technology-and-interoperability-certification-program-updates-algorithm-transparency-and"></a>HTI-1</a> effective date of 3/11/2024. Please refer to the Program resources <a target="_blank" href="https://www.healthit.gov/topic/certification-ehrs/certification-health-it"></a>on healthit.gov</a> for the latest information.
{% endblock %}